.container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.stats-container {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
  .stats {
    background-color: #202525;
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 5px;
    padding: 15px 20px;
    text-align: left;
    h4 {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
    }
    p {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }
    .price-inactive {
      color: #888;
      font-size: 10px;
      font-weight: 400;
    }
    .stats-change {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      .change {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}

.icon {
  width: 25px;
  margin-right: 5px;
  fill: white;
}

.table {
  margin: 0 auto;
  width: 100%;
  background-color: #202525;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.137);
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
    height: 40px;
  }
  .color {
    width: 20px;
    height: 20px;
  }
}
