.navigation {
  // background-color: #393e46;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 2rem;
}

.button {
  width: 140px;
  text-decoration: none;
  color: white;
  background-color: #3e4753;
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.3s;
  text-align: center;
  &:visited {
    color: white;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  }
}
@keyframes blinking {
  0% {
    border: 1px solid rgba(255, 255, 255, 0.267);
  }
  50% {
    border: 1px solid white;
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 0.267);
  }
}

.button-selected {
  @extend .button;

  background-color: #161a20;
  animation: blinking 2s infinite;
}
