.navigation {
  background-color: rgb(42, 102, 102);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 2rem;
}

.button {
  width: 140px;
  text-decoration: none;
  color: white;
  background-color: rgb(18, 31, 31);
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.3s;
  text-align: center;
}

.button:visited {
  color: white;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.button:active {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}
